@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #171717;
}

.autogrid200px {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
